.App{
    max-width: 860px;
    margin: 40px auto;
}


button{
    display: block;
    background: none;
    border: 2px solid #F0C160;
    padding: 6px 12px;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    font-size: 1em;
    margin: auto;
    margin-bottom: 20px;
}

button:hover{
    background-color: #840E5A;
    color: #fff;
}

div.capa{
    max-width: 900px;
    margin: auto;
}
  
img.img-capa{
width: 100%;
}